html,
body,
#app {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --form-border-color: #f0eff5;
  --bg-color: #f6f7f9;
  --bg-color-content: #ffffff;
}

@font-face {
  // font name: Orbits-Thin
  font-family: "title";
  src: url("@/assets/fonts/title.woff") format("woff");
}
