.basicLayout {
  width: 100%;
  height: 100%;

  .header {
    height: 60px;
    border-bottom: 1px solid var(--form-border-color);
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
}
