.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;

  .sysPanel {
    flex: 1;
    display: flex;
    align-items: center;

    .menu {
      flex: 1;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .userPanel {
    margin-left: auto;
  }
}
