.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;

  .sysPanel {
    flex: 1;
    display: flex;
    align-items: center;

    .menu {
      flex: 1;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
      font-family: "title";
      background: linear-gradient(
        90deg,
        #ff3838 0%,
        #ffb302 14%,
        #0055ff 71%,
        #b200ff 85%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .userPanel {
    margin-left: auto;
  }
}
