.login {
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: relative;

  .form {
    width: 400px;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
  }
}
