.login {
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: relative;

  .header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .form {
    width: 400px;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.footer {
  color: #666;
  display: flex;
  justify-content: center;
  gap: 8px;
}
