services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=formserver
    ports:
      - "9999:5432"
